<footer class="page-footer teal lighten-1">
	<div class="container">
		<div class="row">
			<div class="col l4 s12">
				<div class="brand-logo">
					<img src="/images/extra/Logo.png" alt="logo">
					<div>
						<h5 style="font-weight: bold; color: #feb538; text-shadow: 0 2px 5px rgba(0,0,0,0.36);">Meal Mentor</h5>
						<p style="font-size: 12px; font-family: 'Lobster'; letter-spacing: 0.2px" class="grey-text text-lighten-2">
							Enjoy the taste of Eating Healthy!
						</p>
					</div>
				</div>
			</div>
			<div class="col l3 offset-l1 s12 center">
				<h5 style="font-weight: bold; color: #feb538; text-shadow: 0 2px 5px rgba(0,0,0,0.36);">Quick Links</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="/search">Search</a></li>
					<li><a class="grey-text text-lighten-3" href="/user/me"><%=currUser.fullName%></a></li>
					<li><a class="grey-text text-lighten-3" href="/Logout"> Logout </a></li>
				</ul>
			</div>
			<div class="col l3 offset-l1 s12 center">
				<h5 style="font-weight: bold; color: #feb538; text-shadow: 0 2px 5px rgba(0,0,0,0.36);">Categories</h5>
				<ul>
					<li><a class="grey-text text-lighten-3" href="/viewall/?type=main%20course&custom=false">Chef's Special</a></li>
					<li><a class="grey-text text-lighten-3" href="/viewall/?type=dessert&custom=false">Dessert</a></li>
					<li><a class="grey-text text-lighten-3" href="/viewall/?type=salad&custom=false">Salad</a></li>
					<li><a class="grey-text text-lighten-3" href="/viewall/?type=snack&custom=false">Snacks</a></li>
					<li><a class="grey-text text-lighten-3" href="/viewall/?type=drink&custom=false">Beverages</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2021 Copyright Text
			<a style="font-family: 'Lobster'" class="grey-text text-lighten-4 right">Made with Love!</a>
		</div>
	</div>
</footer>
</body>
</html>