<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/recipe.css">


	<div class="top-section">
		<h3 style="color:teal;">Chef's Special</h3>
		<a class="waves-effect waves-light btn" href="/viewall/?type=main%20course&custom=false">View All</a>
	</div>
    <div class="recipe main-course" id="chef-special-con">
            
    </div>

	<div class="top-section" >
		<h3 style="color:teal">Dessert</h3>
		<a class="waves-effect waves-light btn"  href="/viewall/?type=dessert&custom=false">View All</a>
	</div>
    <div class="recipe dessert" id="dessert-con">
            
    </div>

	<div class="top-section">
		 <h3 style="color:teal">Salads</h3>
		<a class="waves-effect waves-light btn" href="/viewall/?type=salad&custom=false">View All</a>
	</div>
    <div class="recipe salads" id="salad-con">
            
    </div>

	<div class="top-section">
		<h3 style="color:teal">Snacks</h3>
		<a class="waves-effect waves-light btn" href="/viewall/?type=snack&custom=false">View All</a>
	</div>
    <div class="recipe snacks"  id="snack-con">
            
    </div>


	<div class="top-section">	
		<h3 style="color:teal;">Beverages</h3>
		<a class="waves-effect waves-light btn" href="/viewall/?type=drink&custom=false">View All</a>
	</div>
    <div class="recipe drinks"  id="drinks-con">
            
    </div>

        

        
       