@import url("https://fonts.googleapis.com/css?family=Lobster");
body {
  height: 100vh; }

#dish-slider {
  font-family: "Lobster";
  height: 62vh !important;
  position: relative;
  background: url("/images/extra/back.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: teal; }
  #dish-slider #a-tag {
    border-radius: 25px;
    color: white;
    padding: 5px 15px;
    background-color: #26a69a;
    font-family: "Lobster"; }
  #dish-slider #straw {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 160px;
    height: 160px; }
    #dish-slider #straw img {
      width: 100%;
      height: 100%; }
  #dish-slider #leaf {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 160px;
    height: 160px; }
    #dish-slider #leaf img {
      width: 100%;
      height: 100%; }
  #dish-slider div.head-box {
    z-index: 10;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  #dish-slider div.head-box p {
    flex: 1; }
  #dish-slider .glide {
    width: 65%;
    text-align: center; }
    #dish-slider .glide li p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25); }
    #dish-slider .glide li img {
      width: 180px;
      height: 180px;
      border-radius: 100%;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.36); }
    #dish-slider .glide .glide__arrow {
      top: 40%; }
  #dish-slider #title {
    color: teal;
    font-size: 3rem;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25); }

@media only screen and (max-width: 1100px) {
  #dish-slider .glide {
    width: 75%; } }

@media only screen and (max-width: 880px) {
  #dish-slider .glide li img {
    width: 140px;
    height: 140px; } }

@media only screen and (max-width: 650px) {
  #dish-slider .glide {
    width: 85%; }
  #dish-slider #straw {
    width: 100px;
    height: 100px; }
    #dish-slider #straw img {
      width: 100%;
      height: 100%; }
  #dish-slider #leaf {
    width: 100px;
    height: 100px; }
    #dish-slider #leaf img {
      width: 100%;
      height: 100%; }
  #dish-slider div.head-box {
    width: 85%;
    margin-top: 0.3rem; }
  #dish-slider #title {
    font-size: 2rem; } }
