@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css?family=PT Serif");
.main-view h3 {
  font-family: "Lobster";
  color: teal;
  text-align: center; }

.top-section {
  display: flex;
  max-width: 83%;
  margin: 0 5%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%; }
  .top-section a {
    margin-top: 1rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Lobster"; }
  .top-section h3 {
    flex: 1;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
    font-family: "Lobster";
    margin-left: 5rem; }

a {
  color: inherit; }

.recipe {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin-left: 5%;
  padding-left: 5%;
  flex-wrap: wrap;
  align-content: space-around; }
  .recipe div {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 3%; }
    .recipe div .card__img {
      visibility: hidden;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 170px;
      background-color: cyan;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px; }
    .recipe div .cardLike {
      position: absolute;
      top: 8px;
      left: 8px;
      background-color: #e16120;
      box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); }
    .recipe div .card__img--hover {
      transition: 0.2s all ease-out;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 170px;
      position: absolute;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      top: 0; }
    .recipe div .card {
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
      background-color: #fff;
      position: relative;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.3); }
    .recipe div .card:hover {
      box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.3);
      transform: scale(1.1, 1.1); }
    .recipe div .card__info {
      z-index: 2;
      background-color: #fff;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      width: 100%; }
    .recipe div p {
      width: 100%;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-family: "PT Serif";
      font-weight: 500;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      color: #f65d08;
      font-size: 1.1rem;
      letter-spacing: 0.5px; }
      .recipe div p .card__title {
        width: 100%;
        margin-top: 2px;
        padding: 16px 24px 24px 24px; }
    .recipe div .card:hover .card__img--hover {
      height: 100%;
      opacity: 0.5; }
    .recipe div .card:hover .card__info {
      background-color: transparent;
      position: relative; }

@media screen and (max-width: 950px) {
  .recipe {
    margin-left: 7%;
    width: 85%; } }

@media screen and (max-width: 800px) {
  .recipe {
    margin-left: 6%;
    width: 90%; } }

@media screen and (max-width: 750px) {
  .recipe {
    margin-left: 7%; }
    .recipe div {
      width: 40%; } }

@media screen and (max-width: 680px) {
  .recipe {
    display: flex;
    margin-left: -10%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around; }
    .recipe div {
      width: 60%; }
  .recipe div .card {
    width: 77vw; }
  .top-section h3 {
    margin-left: 2rem; } }

@media screen and (max-width: 540px) {
  .top-section {
    width: 100%;
    padding: 0; }
    .top-section a {
      margin-right: 0rem; } }
